{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    {% include './snippets/styles.html' %} 
    {% block appcss %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% endblock appcss %} 
    {% block title %}
    <title>SAO Project </title>
    {% endblock title %}
  </head>
  <body>
    {% block navbar %}
    {% include 'snippets/navbar_anon.html' %}
    {% endblock navbar %}
    {% block jumbotronapp %}
    <section id="home">
      <div class="jumbotron py-5">
        <h1 class="display-4 fs-1 fw-bold"><strong>Welcome to Aincrad {{param}}</strong></h1>
        <h4 class=" fs-1 fw-bold"><strong>Hai {{user}}</strong></h4>
        {% comment %} <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> {% endcomment %}
      </div>
    </section>
    {% endblock jumbotronapp %}
     {% block content %} 
     {% endblock content %} 
    <!-- Option 1: Bootstrap Bundle with Popper -->
    {% block jsapp %}{% endblock jsapp %} 
    {% include './snippets/js.html' %}
  </body>
</html>
